<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/me.y4sh/" class="socials"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/me.y4sh/" class="socials"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/yash-ladda/" class="socials"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Pvt. Ltd</div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy  </a>
             &nbsp; &nbsp;
            <a href="/terms"> Terms </a>
        </div>
    </div>
</footer>