<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control border border-2 border-secondary rounded-2" placeholder="Enter catchy title" required>
            <div class="invalid-feedback">Please Enter a Catchy Title!</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control border border-2 border-secondary rounded-2" required></textarea>
            <div class="invalid-feedback">Please Enter a Short Description!</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="listing[image]" class="form-control border border-2 border-secondary rounded-2" placeholder="Enter image URL/Link">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control border border-2 border-secondary rounded-2" placeholder=&#8377;1,200 required>
                <div class="invalid-feedback">Please Enter a Valid Price!</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control border border-2 border-secondary rounded-2" placeholder="India" required>
                <div class="invalid-feedback">Please Enter the Country name!</div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control border border-2 border-secondary rounded-2" placeholder="Pune, Maharashtra" required>
            <div class="invalid-feedback">Please Enter the Location!</div>
        </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <div>
            <br>
        </div>
        <!-- <br> -->
        <br>
        <br>
        <!-- <br>
        <br> -->
    </form>
    </div>
    </div>
</body>