body {
    font-family: "Nunito", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-plane-arrival {
    color: rgb(217, 24, 24);
    font-size: 2rem;
}

.nav-link {
    color: #1a0c0c !important;
}


/* Footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links :hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #cecccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
}

/* Add & edit buttons */
.add-btn,
.edit-btn{
    background-color: rgb(217, 24, 24) !important;
    border: none !important;
    color: white;
    width: 80px;
    min-width: 80px;
}

.add-btn:hover,
.edit-btn:hover {
    background-color: black !important;
}

/* Show page */
.show-img {
    height: 300px;
    object-fit: cover;
}

.btns {
    display: flex;
}

.review-delete {
    margin-left: 0;
}

.delete-btn {
    background-color: rgb(9, 30, 9);
    width: 80px;
    margin-left: 10px;
    color: white;
}

.delete-btn:hover {
    background-color: rgb(217, 24, 24) !important; 
}

.verify-btn {
    background-color: rgb(217, 24, 24);
    color: white;
}

.review-btn {
    background-color: rgb(251, 24, 24);
    color: white;
    border: none;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.review {
    padding: 14px;
}

.socials {
    color: black;
}