<% layout("/layouts/boilerplate") %>

    <div class="row mt-5">

        <div class="col-11 col-md-6 col-lg-4 mx-auto">

            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h4 class="text-center mb-4">OTP Verification</h4>

                    <form action="/verify-otp" method="POST">
                        <div class="mb-3">
                            <label for="otp" class="form-label text-muted" style="font-size: 0.9rem;">
                                Enter OTP sent on: <strong>
                                    <%=userEmail%>
                                </strong>
                            </label>

                            <input type="text" id="otp" name="otp" class="form-control form-control-lg text-center"
                                placeholder="Enter Code" required>
                        </div>

                        <button class="btn verify-btn btn-dark w-100 py-2">Verify</button>
                    </form>
                </div>
            </div>

        </div>
    </div>