<% layout("/layouts/boilerplate") %>

    <div class=" row mx-auto mt-5 w-25">
        <form action="/verify-otp" method="POST">
            <label for="verify-otp">Enter OTP sent on your Email ID: <%=userEmail%></label>
            <input type="text" id="otp" name="otp"
                class="form-control border border-2 border-secondary rounded-2" required>
                <br>
            <button class="btn verify-btn btn-dark">Verify</button>
        </form>
    </div>